<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Karfilms{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path("inicio") }}">Karfilms</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% block estadoindex %}{% endblock %}" href="{{ path("inicio") }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block estadocartelera %}{% endblock %}" href="{{ path("mostrar_cartelera") }}">Cartelera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block estadogenero %}{% endblock %}" href="{{ path("mostrar_genero") }}">Géneros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block estadoactor %}{% endblock %}" href="{{ path("mostrar_actor") }}">Actores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block estadodirector %}{% endblock %}" href="{{ path("mostrar_director") }}">Directores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block estadosugerencia %}{% endblock %}" href="{{ path("mostrar_sugerencia") }}">Sugerencias</a>
                    </li>
                    <form class="navbar-form navbar-left">
                        <input id="buscador" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <div class="dropdown"><span id="resultados"></span></div>
                    </form>
                </ul>
                <ul class="nav navbar-nav ml-auto mr-5">
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ asset('imagenes/iconos/tuerca.svg') }}">
                                </button>
                                <div class="dropdown-menu">
                                    <span><strong>Administración</strong></span>
                                    <a class="dropdown-item" href="{{ path("indice_pelicula") }}">Películas</a>
                                    <a class="dropdown-item" href="{{ path("indice_sesion") }}">Sesiones</a>
                                    <a class="dropdown-item" href="{{ path("indice_edad") }}">Clasificación por edades</a>
                                    <a class="dropdown-item" href="{{ path("indice_sala") }}">Salas</a>
                                    <a class="dropdown-item" href="{{ path("indice_asiento") }}">Asientos</a>
                                    <a class="dropdown-item" href="{{ path("indice_actor") }}">Actores</a>
                                    <a class="dropdown-item" href="{{ path("indice_director") }}">Directores</a>
                                    <a class="dropdown-item" href="{{ path("indice_genero") }}">Géneros</a>
                                    <a class="dropdown-item" href="{{ path("indice_usuario") }}">Usuarios</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{ app.user.nombre }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path("mi_perfil", {"id":app.user.id}) }}">Mi perfil</a>
                                <a class="dropdown-item" href="{{ path("logout") }}">Cerrar sesión</a>
                            </div>
                        </div>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% block estadologin %}{% endblock %}" href="{{ path("iniciar_sesion") }}">Iniciar sesión</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        <footer>

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
<link rel="stylesheet" href="{{ asset("slider/ism/css/my-slider.css") }}"/>
<script src="{{ asset("slider/ism/js/ism-2.2.min.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    'use strict'

    $(document).ready(function ()
    {
        $("#buscador").keyup(function ()
        {
            var texto = "";
            $.ajax({
                type: "POST",
                url: "{{ path('mostrar_peliculas_ajax') }}",
                data: {
                    pelicula: $(this).val(),
                },
                success: function (data)
                {
                    texto += "<div class='dropdown-menu show'>";
                    for (var i in data.peliculas)
                    {
                        var titulo = data.peliculas[i].titulo;
                        var id = data.peliculas[i].id;

                        if (/(admin)\/.+\/\d/.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='../../../cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        } else if (/(admin)\/.+\/.+$/.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='../../cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        } else if (/(admin)\//.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='../cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        } else if (/(reserva)/.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='../../cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        } else if (/((-\d+)|registrarse|iniciar-sesion|mi-perfil|inicio|cartelera|generos|actores|directores|sugerencias)$/.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        } else if (/(registrarse|iniciar-sesion|mi-perfil|inicio|cartelera|generos|actores|directores|sugerencias)\/.+\//.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='../../cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        } else if (/(registrarse|iniciar-sesion|mi-perfil|inicio|cartelera|generos|actores|directores|sugerencias)\//.test(window.location.href))
                        {
                            texto += "<a class='dropdown-item' id='pelicula" + i + "' href='../cartelera/" + titulo + "/" + id + "'>" + titulo + "</a>";
                        }
                    }
                    texto += "</div>";
                    $('#resultados').html(texto);
                },
                error: function (data, xhr, status)
                {
                    alert(status)
                }
            });
        });
    });
</script>
</body>
</html>