{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <div class="col-lg-6">
        <h2>Usuarios</h2>
        <hr>
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Usuario editado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre de usuario</th>
                <th>Acción</th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        {% if usuario.id == app.user.id %}
                            <strong><a href="{{ path("mi_perfil", {"id":usuario.id}) }}">{{ usuario.nombre }}</a></strong>
                        {% else %}
                            <strong><a href="{{ path("perfil_usuario", {"nombre":usuario.Nombre, "id":usuario.id}) }}">{{ usuario.nombre }}</a></strong>
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.rol == "ROLE_USER" %}
                            <a href="{{ path("hacer_administrador", {"id":usuario.id}) }}" class="btn btn-warning">Hacer administrador</a>
                        {% else %}
                            <a href="{{ path("hacer_administrador", {"id":usuario.id}) }}" class="btn btn-danger">Quitar administrador</a>
                        {% endif %}
                        <a href="{{ path("eliminar_usuario", {"id":usuario.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}