{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra los usuarios que existen en la base de datos-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_usuario") }}">
                        <span itemprop="title">Usuarios</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Usuarios</h2>
        <hr>
        <div class="count">
            <span class="label label-primary">
                Usuarios en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre de usuario</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de usuarios y se van mostrando uno a uno-->
            {% for usuario in pagination %}
                <tr>
                    <td>
                        <!--Si el id del usuario con sesión iniciada coincide con el id del usuario que se muestra,
                        su nombre enviará a mi perfil, si no, enviará al perfil del usuario en cuestión-->
                        {% if usuario.id == app.user.id %}
                            <strong><a href="{{ path("mi_perfil", {"id":usuario.id}) }}">{{ usuario.nombre }}</a></strong>
                            {% else %}
                            <strong><a href="{{ path("perfil_usuario", {"nombre":usuario.Nombre, "id":usuario.id}) }}">{{ usuario.nombre }}</a></strong>
                            {% endif %}
                    </td>
                    <td>
                        <!--Si el usuario que se muestra tiene el rol de usuario, se mostrará un botón para asignarle el rol de
                        administrador, llamando a la función del controlador y enviando su id a través de la url.
                        Si tiene el rol de administrador, se le asigna el rol de usuario-->
                        {% if usuario.rol == "ROLE_USER" %}
                            <a href="{{ path("hacer_administrador", {"id":usuario.id}) }}" class="btn btn-warning">Hacer administrador</a>
                        {% else %}
                            <a href="{{ path("hacer_administrador", {"id":usuario.id}) }}" class="btn btn-danger">Quitar administrador</a>
                        {% endif %}
                        <a href="{{ path("eliminar_usuario", {"id":usuario.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}