{% extends '@Karfilms/layout.html.twig' %}

{% block title %} {{ parent() }} - Iniciar sesión {% endblock %}

{%block estadologin %} active {% endblock %}

{% block body %}
    <!--Vista del formulario para iniciar sesión-->
    <section class="col-lg-6">
        <!--Aquí se muestran los mensajes de cuando el usuario se registra correctamente-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Registrado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <h2>Identifícate</h2>
        <hr>
        <form action="{{ path("iniciar_sesion_check") }}" method="post">
            <label>Nombre de usuario:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            <br>
            <label>Contraseña:</label>
            <input type="password" id="password" name="_password" class="form-control"/>
            <br>
            <input type="submit" value="Enviar" class="btn btn-primary"/>
            <input type="hidden" name="_target_path" value="/inicio"/>
        </form>
    </section>
    <div class="clearfix"></div><br>
    <!--Botón para activar la función del controlador que muestra el formulario para
    registrarse-->
    <p>¿No tienes una cuenta? <a href="{{ path("registrarse") }}">Regístrate</a>.</p>
{% endblock %}