{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <div class="col-lg-8">
        <h1>Perfil de {{ usuario.nombre }}</h1>
        <hr>
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Perfil editado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre de usuario</th>
                <th>Imagen de perfil</th>
            </tr>
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>
                    <img height="200" width="200" src="{{ asset('imagenes/perfiles/' ~ usuario.icono) }}">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-8">
        <h2>Sugerencias de {{ usuario.nombre }}</h2>
        <hr>
        <table class="table table-bordered">
            {% for sugerencia in sugerencias %}
                <tr>
                    <th height="100" width="100"><img height="100" width="100" src="{{ asset("imagenes/perfiles/") ~ sugerencia.idUsuario.icono }}"></th>
                    <td>
                        <strong><a href="{{ path("perfil_usuario", {"nombre":sugerencia.idUsuario.Nombre, "id":sugerencia.idUsuario.id}) }}">{{ sugerencia.idUsuario.Nombre }}</a></strong>
                        <p>{{ sugerencia.texto }}</p>
                        {% if app.user.id is defined and app.user.id == sugerencia.idUsuario.id %}
                            <a href="{{ path("eliminar_sugerencia", {"id":sugerencia.id}) }}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}