{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    {% set accesible = false %}
    {% for hora in pelicula.Sesiones %}
        {% if hora.horarios == sesion.horarios %}
            {% set accesible = true %}
            <div class="col-lg-9">
                <h2>Reserva de entrada</h2>
                <hr>
                <table class="table table-bordered">
                    <tr>
                        <th>Fecha y hora</th>
                        <th>Película</th>
                        <th>Precio</th>
                        <th>Seleccionar asiento</th>
                    </tr>    
                        <tr>
                            <td>Día {{ sesion.horarios|date("d/m") }} a las {{ sesion.horarios|date("H:i") }}</td>
                            <td>{{ pelicula.titulo }}</td>
                            <td>5€</td>
                            <td>
                                {{ form_start(form, {'action':'', 'method':'POST'}) }}
                                {{ form_end(form) }}
                            </td>
                        </tr>
                </table>
                <a href="{{ path("inicio") }}" class="btn btn-secondary">Cancelar</a>
            </div>
        {% endif %}
    {% endfor %}
    {% if accesible == false %}
        <div class="alert alert-danger">Imposible acceder a esta página.</div>
    {% endif %}
{% endblock %}
