{% extends '@Karfilms/layout.html.twig' %}

{%block estadocatalogo %} active {% endblock %}

{% block body %}
    <h1>Catálogo</h1>
    <hr>
    <table class="table table-bordered">
        {% for pelicula in peliculas %}
            <tr>
                <td height="200" width="150"><img height="200" width="150" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}"</td>
                <td>
                    <h3>{{ pelicula.titulo }}</h3>
                    <p><strong>Duración: </strong>{{ pelicula.duracion }} minutos</p>
                    <p><strong>Clasificación por edades: </strong>{{ pelicula.idEdad.clasificacion }}</p>
                    <p>
                        <strong>Reparto: </strong>
                        {% for peli in pelicula.Actorpelicula %}
                            {{ peli.idActor.nombre }}
                        {% endfor %}
                    </p>
                    <p>
                        <strong>Dirección: </strong>
                        {% for peli in pelicula.Directorpelicula %}
                            {{ peli.idDirector.nombre }}
                        {% endfor %}
                    </p>
                    <p>
                        <strong>Géneros: </strong>
                        {% for peli in pelicula.Generopelicula %}
                            {{ peli.idGenero.nombre }}
                        {% endfor %}
                    </p>
                    <p><strong>Sinopsis: </strong>{{ pelicula.sinopsis }}</p>
                    <p>
                        <strong>Sesiones: </strong><br>
                        {% if pelicula.Sesiones is empty %}
                            No hay sesiones disponibles.
                        {% else %}
                            {% set array_sesiones = [] %}
                            {% for sesiones in pelicula.Sesiones %}
                                {% set array_sesiones = array_sesiones|merge([sesiones.horarios]) %}
                            {% endfor %}
                            <select id="{{ pelicula.id }}" class="form-control col-lg-2 float-left">
                                {% for sesion in array_sesiones|sort %}
                                    {% if usado is defined and usado != sesion|date("d-m") %}
                                        <option>{{ sesion|date("d-m") }}</option>
                                        {% set usado = sesion|date("d-m") %}
                                    {% elseif usado is defined and usado == sesion|date("d-m") %}
                                        {% set usado = sesion|date("d-m") %}
                                    {% else %}
                                        <option>{{ sesion|date("d-m") }}</option>
                                        {% set usado = sesion|date("d-m") %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                            Horarios:
                            <span id="horarios"></span>
                        {% endif %}
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
{% block javascripts %}
    <script>
        'use strict'

        $(document).ready(function ()
        {
            $("select").click(function ()
            {
                $.ajax({
                    type: "POST",
                    url: "{{ path('mostrar_sesiones_ajax') }}",
                    data: {
                        diames: $(this).children("option:selected").val(),
                        id: $(this).attr('id')
                    },
                    success: function (data)
                    {
                        for(var i in data.sesiones)
                        {
                            for(var horarios in data.sesiones[i])
                            {
                                $("#horarios").html(data.sesiones[i].horarios.date);
                            }
                        }
                        
                    },
                    error: function (data, xhr, status)
                    {
                        alert(status)
                    }
                });
            });
        });
    </script>
{% endblock %}