{% extends '@Karfilms/layout.html.twig' %}

{%block estadocartelera %}
    {% if active is defined %}
        active
    {% endif %}
{% endblock %}

{% block body %}
    <!--Vista de los detalles de la película seleccionada por el usuario-->
    <div class="col-lg-12">
        <h2>{{ pelicula.titulo }}</h2>
        <hr>
        <table class="table">
            <tr>
                <th>Cartel</th>
                <th>Trailer</th>
            </tr>
            <tr>
                <td>
                    <img height="606" width="410" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}">
                </td>
                <td colspan="2">
                    <video height="606" width="800"  controls>
                        <source src="{{ asset("imagenes/trailers/" ~ pelicula.trailer) }}">
                    </video>
                </td>
            </tr>
            <tr>
                <th>Directores</th>
                <th>Actores principales</th>
                <th>Géneros</th>
            </tr>
            <tr>
                <!--Se recorren los arrays de directores, actores y géneros para mostrarlos
                en su sección específica de los detalles de la película-->
                <td>
                    {% for director in directores %}
                        {{ director }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for actor in actores %}
                        {{ actor }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for genero in generos %}
                        {{ genero }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Sinopsis</th>
            </tr>
            <tr>
                <td colspan="3">{{ pelicula.sinopsis }}</td>
            </tr>
        </table>
        <!--Si el rol del usuario conectado es el de administrador, el botón llevará
        a la vista de todas las películas en la sección de administrador. Además se
        mostrará el botón para editar la película.
        Si el rol del usuario no es administrador, llevará a la página de la cartelera.-->
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path("indice_pelicula") }}" class="btn btn-primary">Atrás</a>
            <a href="{{ path("editar_pelicula", {"id":pelicula.id}) }}" class="btn btn-warning">Editar</a>
        {% else %}
            <a href="{{ path("mostrar_cartelera") }}" class="btn btn-primary">Atrás</a>
        {% endif %}
    </div>
    <div class="clearfix"></div>
{% endblock %}