{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <div class="col-lg-6">
        <h2>Editar película</h2>
        <hr>
        <img height="50" width="50" src="{{ asset('imagenes/carteles/' ~ cartel) }}">
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
            {{ form_row(form.actores, { 'value': actores|trim(",") }) }}
            {{ form_row(form.directores, { 'value': directores|trim(",") }) }}
            {{ form_row(form.generos, { 'value': generos|trim(",") }) }}
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
    <a href="{{ path("indice_pelicula") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}