{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra las películas que existen en la base de datos-->
    <section class="col-lg-8">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_pelicula") }}">
                        <span itemprop="title">Películas</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Películas</h2>
        <hr>
        <!--Aquí se muestran los mensajes generados en el controlador al añadir
        o editar una película-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Película añadida correctamente." or message == "Película editada correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="count">
            <span class="label label-primary">
                Películas en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de películas y se van mostrando una a una-->
            {% for pelicula in pagination %}
                <tr>
                    <td>{{ pelicula.titulo }}</td>
                    <td>
                        <a href="{{ path("detalles_pelicula", {"id":pelicula.id}) }}" class="btn btn-secondary">Ver detalles</a>
                        <!--Botones para editar o eliminar película-->
                        <a href="{{ path("editar_pelicula", {"id":pelicula.id}) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path("eliminar_pelicula", {"id":pelicula.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón que activa la función para añadir películas en el controlador-->
        <a href="{{ path("add_pelicula") }}" class="btn btn-primary">Añadir película</a><br/><br/>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}