{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista de todos los asientos-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_asiento") }}">
                        <span itemprop="title">Asientos</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Asientos</h2>
        <hr>
        <!--Aquí se muestran los mensajes para el usuario al editar o añadir
        un asiento-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Asiento añadido correctamente." or message == "Asiento editado correctamente." or message == "Asientos añadidos correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="count">
            <span class="label label-primary">
                Asientos en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Sala</th>
                <th>Fila</th>
                <th>Butaca</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de asientos enviado desde el controlador-->
            {% for asiento in pagination %}
                <tr>
                    <td>{{ asiento.idSala.nombre }}</td>
                    <td>{{ asiento.fila }}</td>
                    <td>{{ asiento.butaca }}</td>
                    <td>
                        <!--Botones para editar y borrar asientos-->
                        <a href="{{ path("editar_asiento", {"id":asiento.id}) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path("eliminar_asiento", {"id":asiento.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón para añadir un asiento, activando la función correspondiente en el controlador-->
        <a href="{{ path("add_asiento") }}" class="btn btn-primary">Añadir asiento</a>
        <!--Botón para añadir todos los asientos-->
        <a href="{{ path("add_todos_asientos") }}" class="btn btn-primary">Rellenar asientos</a>
        {% set enuso = false %}
        {% for asiento in pagination %}
            {% set enuso = true %}
        {% endfor %}
        <!--Botón para eliminar todos los asientos-->
        {% if enuso == true %}
            <a href="{{ path("eliminar_todos_asientos") }}" class="btn btn-danger">Eliminar todos los asientos</a><br/><br/>
        {% endif %}
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}