{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista para editar sesiones-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-9">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_sesion") }}">
                        <span itemprop="title">Sesiones</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("editar_sesion", {"id":sesion.id}) }}">
                        <span itemprop="title">Editar sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Editar sesión</h2>
        <hr>
        <!--Se muestra el formulario generado desde el controlador-->
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </section>
    <div class="clearfix"></div>
    <!--Botón que lleva a la vista de todas las sesiones-->
    <a href="{{ path("indice_sesion") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}