{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra los actores que existen en la base de datos-->
    <section class="col-lg-6">
        <h2>Directores</h2>
        <hr>
        <!--Aquí se muestran los mensajes generados en el controlador al añadir
        o editar un director-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Director añadido correctamente." or message == "Director editado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="count">
            <span class="label label-primary">
                Directores en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de directores y se van mostrando uno a uno-->
            {% for director in pagination %}
                <tr>
                    <td>{{ director.nombre }}</td>
                    <td>
                        <a href="{{ path("editar_director", {"id":director.id}) }}" class="btn btn-warning">Editar</a>
                        <!--Si el director está registrado en alguna película, el botón de eliminar
                        aparece desactivado-->
                        {% if director.Directorpelicula|length == 0 %}
                            <a href="{{ path("eliminar_director", {"id":director.id}) }}" class="btn btn-danger">Eliminar</a>
                        {% else %}
                            <a href="#" class="btn btn-danger disabled">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón que activa la función para añadir directores en el controlador-->
        <a href="{{ path("add_director") }}" class="btn btn-primary">Añadir director</a><br><br>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}