{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra los actores que existen en la base de datos-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-7">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_director") }}">
                        <span itemprop="title">Directores</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Directores</h2>
        <hr>
        <!--Aquí se muestran los mensajes generados en el controlador al añadir
        o editar un director-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Director añadido correctamente." or message == "Director editado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="count">
            <span class="label label-primary">
                Directores en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de directores y se van mostrando uno a uno-->
            {% for director in pagination %}
                <tr>
                    <td>{{ director.nombre }}</td>
                    <td>
                        <!--Botones para editar o borrar director-->
                        <a href="{{ path("editar_director", {"id":director.id}) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path("eliminar_director", {"id":director.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón que activa la función para añadir directores en el controlador-->
        <a href="{{ path("add_director") }}" class="btn btn-primary">Añadir director</a><br><br>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}