{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista para añadir géneros-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_genero") }}">
                        <span itemprop="title">Géneros</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("add_genero") }}">
                        <span itemprop="title">Añadir género</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Nuevo género</h2>
        <hr>
        <!--Creación del formulario que se envía desde el controlador-->
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </section>
    <div class="clearfix"></div>
    <!--Botón que lleva a la vista de todos los géneros-->
    <a href="{{ path("indice_genero") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}