{% extends '@Karfilms/layout.html.twig' %}

{% block estadogenero %} active {% endblock%}

{% block body %}
    <!--Vista para las películas organizadas según el género seleccionado-->
    <section class="col-lg-12">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("mostrar_genero") }}">
                        <span itemprop="title">Géneros</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a itemprop="url" href="{{ path("categoria_genero", {"nombre":genero.nombre}) }}">
                            <span itemprop="title">{{ genero.nombre }}</span>
                        </a>
                    </span> 
                </li>
            </ul>
        </nav>
        <hr>
        {% if pagination is defined %}
            <div class="count">
                <span class="label label-primary">
                    Películas en total: {{ pagination.getTotalItemCount }}
                </span>
            </div>
            <table class="table table-bordered">
                <!--Se recorre el array de las películas que se ha enviado desde el controlador
                y se van mostrando en la página.-->
                {% for pelicula in pagination %}
                    <tr>
                        <td height="200" width="150"><img height="200" width="150" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}"</td>
                        <td>
                            <h3><a href="{{ path("mostrar_pelicula", {"titulo":pelicula.titulo, "id":pelicula.id}) }}">{{ pelicula.titulo }}</a></h3>
                            <p><strong>Duración: </strong>{{ pelicula.duracion }} minutos</p>
                            <p><strong>Clasificación por edades: </strong><a href="{{ path("categoria_edad", {"clasificacion":pelicula.idEdad.clasificacion}) }}">{{ pelicula.idEdad.clasificacion }}</a></p>
                            <!--Se recorren los arrays de actores, directores y géneros que se han enviado
                            desde el controlador para mostrar los datos correspondientes a la película-->
                            <p>
                                <strong>Reparto: </strong>
                                {% for peli in pelicula.Actorpelicula %}
                                    <a href="{{ path("categoria_actor", {"nombre":peli.idActor.nombre}) }}">{{ peli.idActor.nombre }}</a>
                                {% endfor %}
                            </p>
                            <p>
                                <strong>Dirección: </strong>
                                {% for peli in pelicula.Directorpelicula %}
                                    <a href="{{ path("categoria_director", {"nombre":peli.idDirector.nombre}) }}">{{ peli.idDirector.nombre }}</a>
                                {% endfor %}
                            </p>
                            <p>
                                <strong>Géneros: </strong>
                                {% for peli in pelicula.Generopelicula %}
                                    <a href="{{ path("categoria_genero", {"nombre":peli.idGenero.nombre}) }}">{{ peli.idGenero.nombre }}</a>
                                {% endfor %}
                            </p>
                            <p><strong>Sinopsis: </strong>{{ pelicula.sinopsis }}</p>
                            <p>
                                <strong>Sesiones: </strong><br>
                                <!--Si la película no tiene sesiones disponibles, se muestra un mensaje correspondiente.
                                Si tiene sesiones, se guardan estas en un array para luego mostrar los días en una lista
                                desplegable, la cual ejecutará una función AJAX que llamará al controlador y mostrará las horas
                                que correspondan a la sesión de ese día seleccionado-->
                                {% if pelicula.Sesiones is empty %}
                                    No hay sesiones disponibles.
                                {% else %}
                                    {% set array_sesiones = [] %}
                                    {% for sesiones in pelicula.Sesiones %}
                                        {% set array_sesiones = array_sesiones|merge([sesiones.horarios]) %}
                                    {% endfor %}
                                    <select id="{{ pelicula.id }}" class="form-control col-lg-2 float-left">
                                        {% for sesion in array_sesiones|sort %}
                                            {% if usado is defined and usado != sesion|date("d-m") %}
                                                <option>{{ sesion|date("d-m") }}</option>
                                                {% set usado = sesion|date("d-m") %}
                                            {% elseif usado is defined and usado == sesion|date("d-m") %}
                                                {% set usado = sesion|date("d-m") %}
                                            {% else %}
                                                <option>{{ sesion|date("d-m") }}</option>
                                                {% set usado = sesion|date("d-m") %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    Horarios:
                                    <span id="horarios{{ pelicula.id }}"></span>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <!--Botones de paginación-->
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        'use strict'

        /*
         * Función AJAX que recoge el día seleccionado y lo manda al controlador,
         * donde se hace una consulta para que muestre las horas que corresponden
         * a ese día y las pinte en la etiqueta span de la vista.
         */
        $(document).ready(function ()
        {
            $("select").click(function ()
            {
                var texto = "";
                var idspan = $(this).closest("p").children("span").attr('id');

        {% for pelicula in pagination %}
                    if ($(this).attr('id') == {{ pelicula.id }})
                    {
                        $.ajax({
                            type: "POST",
                            url: "{{ path('mostrar_sesiones_ajax') }}",
                            data: {
                                diames: $(this).children("option:selected").val(),
                                id: $(this).attr('id')
                            },
                            success: function (data)
                            {
                                for (var i in data.sesiones)
                                {
                                    for (var horarios in data.sesiones[i])
                                    {
                                        var fecha = data.sesiones[i].horarios.date;
                                        var hora = fecha.substring(11, 16);
                                        /*
                                         * Cada hora se muesta en una etiqueta "a" que activa la función de
                                         * reservar entrada al pulsarse, enviándose el id de la película correspondiente,
                                         * y el id de la sesión.
                                         */
            {% for sesion in pelicula.Sesiones %}
                                            if (fecha == "{{sesion.horarios|date('Y-m-d H:i:s.sss')}}")
                                            {
                                                texto += "<a id='sesion" + i + "' href='{{ path("reservar_entrada", {"pelicula":pelicula.id, "sesion":sesion.id}) }}'>" + hora + "</a>";
                                            }
            {% endfor %}
                                        }
                                    }
                                    $('#' + idspan).html(texto);
                                }
                            });
                        }
        {% endfor %}
                });
            });
    </script>
{% endblock %}