{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra los géneros que existen en la base de datos-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_genero") }}">
                        <span itemprop="title">Géneros</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Géneros</h2>
        <hr>
        <!--Aquí se muestran los mensajes generados en el controlador al añadir
        o editar un género-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Género añadido correctamente." or message == "Género editado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="count">
            <span class="label label-primary">
                Géneros en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de géneros y se van mostrando uno a uno-->
            {% for genero in pagination %}
                <tr>
                    <td>{{ genero.nombre }}</td>
                    <td>
                        <!--Botones para editar y eliminar género-->
                        <a href="{{ path("editar_genero", {"id":genero.id}) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path("eliminar_genero", {"id":genero.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón que activa la función para añadir géneros en el controlador-->
        <a href="{{ path("add_genero") }}" class="btn btn-primary">Añadir género</a><br/><br/>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}