{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra los actores que existen en la base de datos-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-7">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_actor") }}">
                        <span itemprop="title">Actores</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Actores</h2>
        <hr>
        <!--Aquí se muestran los mensajes generados en el controlador al añadir
        o editar un actor-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Actor añadido correctamente." or message == "Actor editado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <div class="count">
            <span class="label label-primary">
                Actores en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de actores y se van mostrando uno a uno-->
            {% for actor in pagination %}
                <tr>
                    <td>{{ actor.nombre }}</td>
                    <td>
                        <a href="{{ path("editar_actor", {"id":actor.id}) }}" class="btn btn-warning">Editar</a>
                        <!--Si el actor está registrado en alguna película, el botón de eliminar
                        aparece desactivado-->
                        {% if actor.Actorpelicula|length == 0 %}
                            <a href="{{ path("eliminar_actor", {"id":actor.id}) }}" class="btn btn-danger">Eliminar</a>
                        {% else %}
                            <a href="#" class="btn btn-danger disabled">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón que activa la función para añadir actores en el controlador-->
        <a href="{{ path("add_actor") }}" class="btn btn-primary">Añadir actor</a><br><br>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}