{% extends '@Karfilms/layout.html.twig' %}

{%block estadoindex %} active {% endblock %}

{% block body %}
    <!--Vista para la página de inicio-->
    <section class="col-lg-12">
        <h1>Estrenos</h1>
        <hr>
        <!--Muestra los mensajes generados en el controlador
        que se envían al usuario al registrar asientos-->
        {% if pagination is defined %}
            <!--Array que recorre las películas para mostrar sus carteles en el slider-->
            {% if peliculas is defined %}
                <div class="d-none d-sm-block ism-slider" data-transition_type="fade" data-play_type="loop" data-buttons="false" data-radios="false" id="my-slider">
                    <ol>
                        {% for pelicula in peliculas %}
                            <li>
                                <img width="550" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}">
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="count">
                    <span class="label label-primary">
                        Películas en total: {{ pagination.getTotalItemCount }}
                    </span>
                </div>
                <!--Se recorre el array de las películas que se ha enviado desde el controlador
                y se van mostrando en la página de inicio.
                Las películas que no tienen sesiones, no se muestran.-->
                <table class="table table-bordered">
                    {% for pelicula in pagination %}
                        <tr>
                            <td height="200" width="150"><img height="200" width="150" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}"</td>
                            <td>
                                <h3><a href="{{ path("mostrar_pelicula", {"titulo":pelicula.titulo, "id":pelicula.id}) }}">{{ pelicula.titulo }}</a></h3>
                                <p><strong>Duración: </strong>{{ pelicula.duracion }} minutos</p>
                                <p><strong>Clasificación por edades: </strong><a href="{{ path("categoria_edad", {"clasificacion":pelicula.idEdad.clasificacion}) }}">{{ pelicula.idEdad.clasificacion }}</a></p>
                                <!--Muestra de los actores, directores y géneros, recorriendo sus respectivos arrays-->
                                <p>
                                    <strong>Reparto: </strong>
                                    {% for peli in pelicula.Actorpelicula %}
                                        <a href="{{ path("categoria_actor", {"nombre":peli.idActor.nombre}) }}">{{ peli.idActor.nombre }}</a>
                                    {% endfor %}
                                </p>
                                <p>
                                    <strong>Dirección: </strong>
                                    {% for peli in pelicula.Directorpelicula %}
                                        <a href="{{ path("categoria_director", {"nombre":peli.idDirector.nombre}) }}">{{ peli.idDirector.nombre }}</a>
                                    {% endfor %}
                                </p>
                                <p>
                                    <strong>Géneros: </strong>
                                    {% for peli in pelicula.Generopelicula %}
                                        <a href="{{ path("categoria_genero", {"nombre":peli.idGenero.nombre}) }}">{{ peli.idGenero.nombre }}</a>
                                    {% endfor %}
                                </p>
                                <p><strong>Sinopsis: </strong>{{ pelicula.sinopsis }}</p>
                                <p>
                                    <!--Se guardan los horarios en un array para luego mostrar los días de cada sesión en
                                    una lista desplegable-->
                                    <strong>Sesiones: </strong><br>
                                    {% set array_sesiones = [] %}
                                    {% for sesiones in pelicula.Sesiones %}
                                        {% set array_sesiones = array_sesiones|merge([sesiones.horarios]) %}
                                    {% endfor %}
                                    <!--Lista desplegable con los días de cada sesión para cada película-->
                                    <select id="{{ pelicula.id }}" class="form-control col-lg-2 float-left">
                                        {% for sesion in array_sesiones|sort %}
                                            <!--Condiciones para que los días no se repitan las mismas veces que 
                                            la cantidad de horas que tiene ese día-->
                                            {% if usado is defined and usado != sesion|date("d-m") %}
                                                <option>{{ sesion|date("d-m") }}</option>
                                                {% set usado = sesion|date("d-m") %}
                                            {% elseif usado is defined and usado == sesion|date("d-m") %}
                                                {% set usado = sesion|date("d-m") %}
                                            {% else %}
                                                <option>{{ sesion|date("d-m") }}</option>
                                                {% set usado = sesion|date("d-m") %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <!--Aquí se muestran las horas de las sesiones para el día que ha sido seleccionado-->
                                    <br><br>
                                    Horarios:
                                    <span id="horarios{{ pelicula.id }}"></span>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <!--Botones de paginación-->
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        'use strict'
        //Función AJAX que se activa al seleccionar un día en el formulario de las sesiones
        $(document).ready(function ()
        {
            $("select").click(function ()
            {
                //Se recoge el id del span correspondiente a la película seleccionada
                var texto = "";
                var idspan = $(this).closest("p").children("span").attr('id');

                //Si el array de películas está definido, AJAX funcionará.
                {% if peliculas is defined %}
                    //Se recorre el array de películas para cada película.
                    {% for pelicula in peliculas %}
                        if ($(this).attr('id') == {{ pelicula.id }})
                        {
                            //Se recoge el valor de la opción seleccionada en el formulario y el id
                            //de la película correspondiente, el cual es el mismo id que el del formulario
                            $.ajax({
                                type: "POST",
                                url: "{{ path('mostrar_sesiones_ajax') }}",
                                data: {
                                    diames: $(this).children("option:selected").val(),
                                    id: $(this).attr('id')
                                },
                                success: function (data)
                                {
                                    for (var i in data.sesiones)
                                    {
                                        /*
                                         * Se recorre el array enviado por el controlador al realizar la consulta
                                         * y se van mostrando las diferentes horas para ese día seleccionado, cada una
                                         * con un enlace que activa la función para reservar entradas.
                                         */
                                        for (var horarios in data.sesiones[i])
                                        {
                                            var fecha = data.sesiones[i].horarios.date;
                                            var hora = fecha.substring(11, 16);
                                            {% for sesion in pelicula.Sesiones %}
                                                if (fecha == "{{sesion.horarios|date('Y-m-d H:i:s.sss')}}")
                                                {
                                                    texto += "<a class='horas' id='sesion" + i + "' href='{{ path("reservar_entrada", {"pelicula":pelicula.id, "sesion":sesion.id}) }}'>" + hora + "</a>";
                                                }
                                            {% endfor %}
                                            }
                                        }
                                        //Comando para mostrar los resultados en la etiqueta span.
                                        $('#' + idspan).html(texto);
                                    }
                                });
                            }
                        {% endfor %}
                    {% endif %}
                });
            });
    </script>
{% endblock %}