{% extends '@Karfilms/layout.html.twig' %}

{%block estadoindex %} active {% endblock %}

{% block body %}
    <div class="col-lg-12">
        <h1>Estrenos</h1>
        <hr>
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Asiento reservado correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        {% if peliculas is defined %}
            <div class="ism-slider" data-transition_type="fade" data-play_type="loop" data-buttons="false" data-radios="false" id="my-slider">
                <ol>
                    {% for pelicula in peliculas %}
                        <li>
                            <img width="550" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}">
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <hr>
            <div class="count">
                <span class="label label-primary">
                    Películas en total: {{ pagination.getTotalItemCount }}
                </span>
            </div>
            <table class="table table-bordered">
                {% for pelicula in pagination %}
                    <tr>
                        <td height="200" width="150"><img height="200" width="150" src="{{ asset("imagenes/carteles/" ~ pelicula.cartel) }}"</td>
                        <td>
                            <h3><a href="{{ path("mostrar_pelicula", {"titulo":pelicula.titulo, "id":pelicula.id}) }}">{{ pelicula.titulo }}</a></h3>
                            <p><strong>Duración: </strong>{{ pelicula.duracion }} minutos</p>
                            <p><strong>Clasificación por edades: </strong><a href="{{ path("categoria_edad", {"clasificacion":pelicula.idEdad.clasificacion}) }}">{{ pelicula.idEdad.clasificacion }}</a></p>
                            <p>
                                <strong>Reparto: </strong>
                                {% for peli in pelicula.Actorpelicula %}
                                    <a href="{{ path("categoria_actor", {"nombre":peli.idActor.nombre}) }}">{{ peli.idActor.nombre }}</a>
                                {% endfor %}
                            </p>
                            <p>
                                <strong>Dirección: </strong>
                                {% for peli in pelicula.Directorpelicula %}
                                    <a href="{{ path("categoria_director", {"nombre":peli.idDirector.nombre}) }}">{{ peli.idDirector.nombre }}</a>
                                {% endfor %}
                            </p>
                            <p>
                                <strong>Géneros: </strong>
                                {% for peli in pelicula.Generopelicula %}
                                    <a href="{{ path("categoria_genero", {"nombre":peli.idGenero.nombre}) }}">{{ peli.idGenero.nombre }}</a>
                                {% endfor %}
                            </p>
                            <p><strong>Sinopsis: </strong>{{ pelicula.sinopsis }}</p>
                            <p>
                                <strong>Sesiones: </strong><br>
                                {% set array_sesiones = [] %}
                                {% for sesiones in pelicula.Sesiones %}
                                    {% set array_sesiones = array_sesiones|merge([sesiones.horarios]) %}
                                {% endfor %}
                                <select id="{{ pelicula.id }}" class="form-control col-lg-2 float-left">
                                    {% for sesion in array_sesiones|sort %}
                                        {% if usado is defined and usado != sesion|date("d-m") %}
                                            <option>{{ sesion|date("d-m") }}</option>
                                            {% set usado = sesion|date("d-m") %}
                                        {% elseif usado is defined and usado == sesion|date("d-m") %}
                                            {% set usado = sesion|date("d-m") %}
                                        {% else %}
                                            <option>{{ sesion|date("d-m") }}</option>
                                            {% set usado = sesion|date("d-m") %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                Horarios:
                                <span id="horarios{{ pelicula.id }}"></span>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
         <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        'use strict'

        $(document).ready(function ()
        {
            $("select").click(function ()
            {
                var texto = "";
                var idspan = $(this).closest("p").children("span").attr('id');

        {% if peliculas is defined %}
            {% for pelicula in peliculas %}
                        if ($(this).attr('id') == {{ pelicula.id }})
                        {
                            $.ajax({
                                type: "POST",
                                url: "{{ path('mostrar_sesiones_ajax') }}",
                                data: {
                                    diames: $(this).children("option:selected").val(),
                                    id: $(this).attr('id')
                                },
                                success: function (data)
                                {
                                    for (var i in data.sesiones)
                                    {
                                        for (var horarios in data.sesiones[i])
                                        {
                                            var fecha = data.sesiones[i].horarios.date;
                                            var hora = fecha.substring(11, 16);
                {% for sesion in pelicula.Sesiones %}
                                                if (fecha == "{{sesion.horarios|date('Y-m-d H:i:s.sss')}}")
                                                {
                                                    texto += "<a id='sesion" + i + "' href='{{ path("reservar_entrada", {"pelicula":pelicula.id, "sesion":sesion.id}) }}'>" + hora + "</a>";
                                                }
                {% endfor %}
                                            }
                                        }
                                        $('#' + idspan).html(texto);
                                    },
                                    error: function (data, xhr, status)
                                    {
                                        alert(status)
                                    }
                                });
                            }
            {% endfor %}
        {% endif %}
                });
            });
    </script>
{% endblock %}