{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista que muestra las salas que existen en la base de datos-->
    <section class="col-lg-6">
        <br>
        <nav aria-labelledby="navbar-label">
            <ul class="breadcrumb col-lg-12">
                <li>
                    <a itemprop="url" href="{{ path("inicio") }}">
                        <span itemprop="title">Inicio</span>
                    </a>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <span itemprop="title">Administración</span>
                    <span class="divider"> 
                        <span class="accesshide ">
                            <span class="arrow sep">►</span> 
                        </span>
                    </span>
                </li>
                <li>
                    <a itemprop="url" href="{{ path("indice_sala") }}">
                        <span itemprop="title">Salas</span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>Salas</h2>
        <hr>
        <!--Aquí se muestran los mensajes generados en el controlador al añadir
        o editar una sala-->
        {% for message in app.session.flashbag().get('status') %}
            {% if message == "Sala añadida correctamente." or message == "Sala editada correctamente." %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Clasificación</th>
                <th>Acción</th>
            </tr>
            <!--Se recorre el array de salas y se van mostrando uno a uno-->
            {% for sala in salas %}
                {% set enuso = false %}
                <tr>
                    <td>{{ sala.nombre }}</td>
                    <td>
                        <!--Botones para editar o eliminar sala-->
                        <a href="{{ path("editar_sala", {"id":sala.id}) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path("eliminar_sala", {"id":sala.id}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botón que activa la función para añadir salas en el controlador-->
        <a href="{{ path("add_sala") }}" class="btn btn-primary">Añadir sala</a>
    </section>
    <div class="clearfix"></div>
{% endblock %}